# Google Cloud
GCP_PROJECT_ID=your-project-id
GCS_BUCKET_NAME=crypto-raw-data
BIGQUERY_DATASET_RAW=crypto_raw
BIGQUERY_DATASET_STAGING=crypto_staging
BIGQUERY_DATASET_MARTS=crypto_marts

# CoinGecko
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_TOP_N_COINS=50

# Airflow
AIRFLOW_UID=50000